/* Die Farben werden in der Form #FAF8F8 dargestellt, unter Google können unter dem Stichwort HTML Colors 
entsprechende Farbpaletten gesucht werden */

body {
	background-image: url('background.png'); /* großes Hintergrundbild */
	background-color: #FFF; /* graue Farbe für den rechten Rand der Seite, entspricht der Farbe des Hintergrundbildes */
	background-position:0px 150px;
	background-repeat: no-repeat; /* Hintergrundbild nach unten kacheln */
	font-family: Helvetica, Verdana, sans-serif; /* Standardschriftart für alle Texte */
	margin: 0px;
	padding: 0px;
	text-align: left;
	font-size: 12pt; /* Standardschriftgröße für alle Texte */
}

#header {
	background-image: url('topheader.png'); /* Hintergrundbild für Kopfzeile, Schriftzug der Verbindung */
	background-repeat: no-repeat; 
	margin-left: 165px; /* horizontale Positionierung der Kopfzeile */
	width: 635px; /* Breite der Kopfzeile */
	font-size: 10pt;
	font-weight: bold;
	padding-top: 146px;
	padding-left: 30px;
	text-align: left;
}

#header a {
	color: #060; /* Farbe eines Links in der Kopfzeile */
	text-decoration: none; /* keine Unterstreichung bei Links in der Kopfzeile */
}

#header img {
	border: 0px; /* kein Rahmen bei Bildern in der Kopfzeile */
	vertical-align: right;
}

#menucontainer {
	position: absolute; top:170px; left:0px; /* Positionierung des Menüs */
	width: 165px; /* Breite des Menüs */
}

#menu {
	padding-left: 10px; /* Linker Abstand des Menüs */
	padding-right: 0px;
	padding-bottom: 10px;
	font-size: 12pt; /* Schriftgröße des Menüs */
	font-weight: bold;
	line-height: 150%; /* Zeilenabstand der Menüschrift */
	color: #000; /* Farbe der Menüschrift */
}

#menu .folderelement {
	list-style-type: square; /* Kreise vor Menüordnern */
}

#menu .entryelement {
	list-style-type: circle; /* leere Kreise vor Menüeinträgen */
}

#menu .folderelementselected {
	list-style-type: disc;
}

#menu .entryelementselected {
	list-style-type: circle;
}

#menu .folderlist {
	padding:0 0 0 10px;
	margin: 0 0 0 0;
}

#menu a { text-decoration: none;} /* keine Unterstreichung bei Links im Menü */
/* Farben von Links im Menü */
#menu a:link { color: #060}
#menu a:visited { color: #960;}
#menu a:hover { color: #960;}
#menu a:active { color: #960;}
#menu a:focus { color: #960;}

#content { /* Fläche für die eigentlichen Texte und Inhalte in der Mitte der Seite */
	width: 600px; /* Breite der Fläche */
	margin-left: 164px; /* Abstand nach links, dort ist das Menü */
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 40px;
	text-align: left; /* Text links ausrichten */
	font-size: 12pt;
}

/*
* Allgemeine Tags
*/
#content a { text-decoration: none;} /* Links in der Contentfläche haben keine Unterstreichung */
/* Farben der Links */
#content a:link { color: #060;}
#content a:visited { color: #960;}
#content a:hover { color: #960;}
#content a:active { color: #960;}
#content a:focus { color: #960;}
#content abbr { /* Abkürzungen */
	text-decoration: none; 
	font-style: normal;
}
#content acronym { /* Akronyme */
	text-decoration: none;
	font-style: normal;
}

#content ul { /* ungeordnete Listen */
	font-size: 12pt;
	font-weight: normal;
	list-style-type: disc; /* Kreis vor Listenelemente zeichnen */
	text-align: left; 
}
#content li {
	margin-top:14pt;
}

#content ol { /* geordnete Liste */
	list-style-type: decimal; /* Zahl vor Listeneintrag */
} 
.geschichte {margin-top: 10pt;
font-size:12pt; list-style-position:}
#content hr { /* horizontaler Balken */
	height: 1px; /* 1 Pixel dicke Linie */
	margin: 5px; /* rechts und links 5 Pixel Platz lassen */
}
#content h1 { /* größte Überschrift */
	font-size: 14pt; /* Schriftgröße der Überschrift */
	font-weight: bolder;
	color: #060; /* Farbe der Überschrift */
	margin-left: 10pt;
	margin-right: 25pt;
	margin-top: 5pt;
	margin-bottom: 10pt;
	text-align: left;
}
#content h2 { /* zweitgrößte Überschrift */
	font-size: 13pt;
	font-weight: bold;
	color: #060; /* Farbe der Überschrift */
	margin-left: 10pt;
	margin-right: 25pt;
	margin-top: 10pt;
	margin-bottom: 5pt;
	text-align: left; 
}
#content h3 { /* drittgrößte Überschrift */
	font-size: 13pt;
	font-weight: bold;
	margin-left: 10pt;
	margin-right: 25pt;
	margin-top: 10pt;
	margin-bottom: 5pt;
	text-align: center; 
}   
#content h4 { /* viertgrößte Überschrift */
	font-size: 12pt;
	font-weight: bold;
	margin-left: 0pt;
	margin-right: 25pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	text-align: left; 
}
#content img { /* Bilder */
	border: 0px; /* ohne Rahmen */
	vertical-align: middle;
	margin: 2px; /* Platz um das Bild machen */
}
#content table { /* Tabellen */
	border-width:0px; /* kein Tabellenrahmen */
	border-style:solid;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
}
#content td { 
	vertical-align: top;
	border-width:0px;
	border-style:solid;
	font-size: 12pt;
}
#content input { /* Eingabefelder in Forms */
	border: 1px solid #000000; /* dünnen Rahmen zeichnen */
	padding: 1px; /* Abstand des Eingabefeldtextes vom eigenen Rahmen */
	margin: 2px 0 2px 0; /* äußerer Abstand */
}
#content textarea { /* mehrzeiliges Eingabefeld */
	border: 1px solid #000000; /* dünner Rahmen */
}
#content .text { /* Fließtext */
	font-size: 12pt; /* Schriftgröße des Textes */
	margin-left: 10px;
	margin-right: 10px;
	text-align: justify; /* Blocksatz */
}

#footer { /* Fußzeile */
	width: 620px;
	margin-left: 164px;
	font-size: 8pt;
	text-align: center;
}

#logo { /* Wappen oben links */
	position:absolute; top:0px;	left:0px; /* Position des Wappens */
	background-image:url('topleft.png'); /* Das Wappenbild */
	background-repeat:no-repeat; /* Wappenbild soll nicht wiederholt werden */
	height:150px; /* Höhe der Wappenfläche begrenzen, darunter liegt das Menü */
    width:165px; /* Breite der Wappenfläche begrenzen, rechts daneben liegt die Kopfzeile */
}

#cover { /* Semesterprogrammbild */
	padding-left: 7px; /* Abstand zum linken Browserfensterrand */
}
#titel { /* größte Überschrift */
	font-size: 16pt; /* Schriftgröße der Überschrift */
	font-weight: bolder;
	color: #060; /* Farbe der Überschrift */
	margin-left: 10pt;
	margin-right: 25pt;
	margin-top: 5pt;
	margin-bottom: 10pt;
	text-align: left;
}
#prinzip { /* zweitgrößte Überschrift */
	font-size: 14pt;
	font-weight: bold;
	color: #060; /* Farbe der Überschrift */
	margin-left: 10pt;
	margin-right: 25pt;
	margin-top: 10pt;
	margin-bottom: 5pt;
	text-align: left; 
}
#programm{float:left;
max-width:100px;
vertical-align:middle;
}
#inhalt{margin-left:10px;
margin-bottom:20px;
min-height:800px;
max-width:600px;
}
#hauskontakt{
	max-height:300px;
	float:middle;
	margin-left:20px;
	}