#logo {
	background-image: url('zirkel.webp');
	background-repeat: no-repeat;
	background-size: auto 90%;
	background-position: center;
}

:root {
	--pcms-primary: #067e00;
	--pcms-primary-rgb: 6, 126, 0;

	--pcms-primary-m1: #056700;
	--pcms-primary-m1-rgb: 5, 103, 0;

	--pcms-primary-m2: #044d00;
	--pcms-primary-m2-rgb: 4, 77, 0;

	--pcms-primary-p1: #3aa034;
	--pcms-primary-p1-rgb: 58, 160, 52;

	--pcms-primary-p2: #5dbf57;
	--pcms-primary-p2-rgb: 93, 191, 87;

	--pcms-primary-bg-subtle: #a9c4a8;

	--pcms-primary-border-subtle: #86be82;
}