#logo {
	background-image: url('zirkel.webp');
	background-repeat: no-repeat;
	background-size: auto 90%;
	background-position: center;
}

#brand:hover,
#brand:focus {
    color: var(--bs-primary);
}

.navbar {
	--bs-navbar-active-color: var(--bs-primary) !important;
}

.circular-progress {
	border-radius: 50%;
	background: hsla(180, 100%, 50%, .5);
	--mask: linear-gradient(red, red) padding-box,
	conic-gradient(red var(--p, 17%), transparent 0%) border-box;
	-webkit-mask: var(--mask);
	mask: var(--mask)
}