#logo {
	background-image: url('zirkel.webp');
	background-repeat: no-repeat;
	background-size: auto 90%;
	background-position: center;
}

#brand:hover,
#brand:focus {
	color: #146010;
}

#nav li > a:hover,
#nav li > a:focus:hover {
	color: #146010;
}

#nav li.active > a,
#nav li.active > a:focus {
	color: #146010;
}

a:link:not(.btn),
a:visited:not(.btn) {
	color: #146010;
}

.calendar .today {
	border-color: #146010;
}
